@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oleo+Script:wght@400;700&family=Playwrite+CA:wght@100..400&display=swap');
/* Define CSS variables for dynamic colors */
:root {
  --primary-color: #debe1a;
  --text-color: aliceblue;
  --hover-background: #242424;
  --shadow-color: rgba(255, 255, 255, 0.5);
}

.mybody {
  /* give a gradient background */

  background: linear-gradient(120deg, #000000, #0c0c0cd0, rgb(0, 0, 0));
  color: var(--text-color);
  margin: 0;
  padding: 0;
  
}

.mylogo {
  font-family: "Playwrite CA", cursive;
  font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  margin-top: 40px;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .col-sm-6.center-col.col2 {
    margin-top: 10%;
}
  


}
.mylogo:hover {
  color: var(--primary-color);
}

.nav {
  gap: 50px;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  padding: 5px;
}

.link:hover {
  background-color: var(--hover-background);
  border-radius: 6px;
  color: var(--primary-color);
  transition: all 0.8s ease;
}

/* Hero Section */
.hero-section {
  margin-top: 100px;
 
  
  
}

.round {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.line {
  position: absolute;
  height: 400px;
  width: 6px;
  margin-top: 2px;
  margin-left: 10px;
  background: linear-gradient(to bottom, var(--primary-color) 0%, rgba(67, 62, 62, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.oleo {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hero {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 40px;
}

.hero-text {
  font-size: 90px;
}

.about {
  margin-top: 150px;
  height: auto;
  width: 100%;
  color: #fff;
  border-radius: 40px;
  animation: fadeIn 1s forwards;
  padding-bottom: 50px;
}

.intro-h {
  font-size: 50px;
  color: var(--text-color);
}
.do-h {
  margin-top: 50px; 
  font-size: 50px;
  color: var(--text-color);
}

p.into-text {
  color: var(--text-color);
}

.myname {
  color: var(--primary-color);
}


.comma {
  font-size: 50px;
}

.into-text {
  border-radius: 30px;
  padding: 30px;
  margin-top: 25px;
  color: #2c2c2c;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  transition: transform 0.5s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.into-text:hover {
  transform: scale(1.05); /* Slightly increase the size */

  box-shadow: 0 8px 16px var(--shadow-color); /* Add shadow for depth */
}
button.button {
  padding: 10px 20px;
  background-color: black;
  border: 2px solid var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  font-weight: 600;
  border-radius: 40px;
  transition: border-color 0.3s ease;
}

button.button:hover {
  background-color: var(--primary-color);
  color: #000000;
  border-color: var(--primary-color);
  transition: all 0.8s ease;
}

div.hero-buttons {
  display: flex;
  gap: 10px;
  padding: 0;
}

.animated-card {
  background: var(--primary-color);
  border-radius: 10px;
  margin: 10px; /* Margin around the card itself */
  overflow: hidden; /* Ensures the image doesn’t overflow the card */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
  transform: scale(1); /* Default scale */
  display: flex;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  text-align: center; /* Center text inside the card */
  padding: 20px; /* Padding inside the card */
  max-height: 200px;
  height: 200px;
  animation: fadeIn 1s forwards;
  perspective: 1000px;
}
.animated-card:hover {
  transform: scale(1.05); /* Slightly scale up the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  background-color: var(--hover-background-color); /* Optional: Change background color on hover */

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-image img {
  width: 80px; /* Makes the image span the width of the card */
  height: 80px; /* Maintains aspect ratio */
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-description {
  font-size: 1rem;
  color: var(--text-color);
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  

.cards-col {
  margin-top: 30px;
}

.center-col {
  display: flex;
  justify-content: center; /* Center content horizontally within column */
}
.row.card2 {
  margin-top: 50px;
}
.card-heading {
  font-size: 1.25em; /* Adjust this value to make the heading smaller or larger */
  margin-bottom: 10px;
}
@keyframes rotateEffect {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-card {
  background: rgb(255, 255, 255,0.1);
  width: 280px;
  padding: 1px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255,0.1);
 
  border-radius: 25px; /* Optional: to give rounded corners */
  padding: 16px; /* Optional: for some spacing inside the border */
  margin: 10px; /* Optional: to add space between cards */
  transition: transform 0.6s ease-in-out, box-shadow 0.8s ease; /* Smooth transitions */
 
}

.about-card-content:hover{
  transform: scale(1.05) rotateX(10deg) rotateY(10deg); 
  transform: translateY(0px);
  opacity: 1;
}

.about-card:hover {
  transform: scale(1.05); /* Scale up the card */
  box-shadow: 0 8px 16px rgba(var(--primary-color-rgb), 0.2); 

}

/* 3d model */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.mobilediv{
  height: 60vh;
  animation: slideInLeft 3s ease-out;
  padding: 30px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.SkillBar{
  margin-top: 20px;
}

.skill-bar-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: start;
}
.skill-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
}


.skill-bar-progress {
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 7px;
  transition: width 0.3s ease;
}

.project {
margin-top: 60px;
}
.projectdetails{
  height: 100px;
  width: 100px;
  color: #fff;
  padding: 20px;
}
